.form {
   display: flex;
   border-top: 1.5px solid rgb(143, 143, 143);
 }
 
 .input {
   border: none;
   border-radius: 0;
   padding: 5%;
   width: 80%;
   font-size: 1.2em;
 }
 
 input:focus, textarea:focus, select:focus{
   outline: none;
 }
 
 button {
   color: #fff !important;
   text-transform: uppercase;
   text-decoration: none;
   background: rgb(73, 73, 73);
   padding: 20px;
   display: inline-block;
   border: none;
   width: 20%;}
   button:hover{
     background-color:rgb(100, 98, 98);
   

 }